body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.highlight{
  animation: exam 3s ease infinite ;
}
@keyframes exam{
  0% {
    border:3px solid blue;
  }
  25% {
    border:3px solid violet;
  }
  75%{ border:3px solid green;}
  100%{ border:3px solid yellowgreen;}
}
